<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Materias Reprobadas</h4>
                <h5 class="card-title">No tienes materias reprobadas</h5>
                <!--<div class="table-responsive table-striped">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Clave</th>
                                <th>Asignatura</th>
                                <th>Fecha</th>
                                <th>Periodo</th>
                                <th>Forma Eval</th>
                                <th>Calificación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>C101</td>
                                <td>Fundamentos de programación</td>
                                 <td>6/12/2019</td>
                                <td>20/1</td>
                                <td>ORD</td>
                                <td>9</td>
                            </tr>

                            <tr>
                                <td>C101</td>
                                <td>Física Clásica</td>
                                <td>6/12/2019</td>
                                <td>20/1</td>
                                <td>ORD</td>
                                <td>8</td>
                            </tr>

                            <tr>
                                <td>C102</td>
                                <td>Fundamentos de álgebra</td>
                                <td>6/12/2019</td>
                                <td>20/1</td>
                                <td>ORD</td>
                                <td>10</td>
                            </tr>
                        </tbody>
                    </table>
                </div>-->
            </div>

            <div class="card-body">
                <h4 class="card-title">Materias no cursadas</h4>
                <h5 class="card-title">No tienes materias no cursadas</h5>
            </div>

            <div class="card-body">
                <h4 class="card-title">Materias desfasadas</h4>
                <h5 class="card-title">No tienes materias desfasadas</h5>
            </div>
        </div>
    </div>    
</div>