<!-- <div class="row">
    <div class="col-lg-4">
        <div class="card-body">
            <h5>Boleta: {{datosKardex.boleta}}</h5>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card-body">
            <h5>Nombre: {{datosKardex.nombre}}</h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card-body">
            <h5>Carrera: {{datosKardex.estadog.carrera.nombre}}</h5>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card-body">
            <h5>Plan: 03</h5>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card-body">
            <h5>Promedio: {{datosKardex.datosacademico.promedio}}</h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" *ngIf="datosKardex">
                <h4 class="card-title">Primer semestre</h4>
                <div class="table-responsive table-striped">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Clave</th>
                                <th>Asignatura</th>
                                <th>Fecha</th>
                                <th>Periodo</th>
                                <th>Forma Eval</th>
                                <th>Calificación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let asig of arrayDeAsignaturas">
                                <td>{{asig.clave}}</td>
                                <td>{{asig.materia}}</td>
                                <td>{{asig.fecha}}</td>
                                <td>{{asig.periodo}}</td>
                                <td>{{asig.formaEvaluacion}}</td>
                                <td>{{asig.calificacionFinal}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->
