<div class="row">
    <div class="col-lg-4">
        <div class="card-body">
            <h5>Boleta: 1231231231</h5>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card-body">
            <h5>Nombre: Paola Juarez Martinez</h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Horario</h4>
                <div class="table-responsive table-striped">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Grupo</th>
                                <th>Asignatura</th>
                                <th>Profesores</th>
                                <th>Salon</th>
                                <th>Lunes</th>
                                <th>Martes</th>
                                <th>Miercoles</th>
                                <th>Jueves</th>
                                <th>Viernes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>9CM11</td>
                                <td>Proyectos de Ingenieria</td>
                                <td>Steve Paul Jobs</td>
                                <td>4114</td>
                                <td>7:00 am - 8:30 am</td>
                                <td>7:00 am - 8:30 am</td>
                                <td>7:00 am - 8:30 am</td>
                                <td>7:00 am - 8:30 am</td>
                                <td>7:00 am - 8:30 am</td>
                                <td>7:00 am - 8:30 am</td>
                            </tr>

                            <tr>
                                <td>9CM11</td>
                                <td>Proyectos de Ingenieria</td>
                                <td>Steve Paul Jobs</td>
                                <td>4114</td>
                                <td>8:30 am - 10:00 am</td>
                                <td>8:30 am - 10:00 am</td>
                                <td>8:30 am - 10:00 am</td>
                                <td>8:30 am - 10:00 am</td>
                                <td>8:30 am - 10:00 am</td>
                                <td>8:30 am - 10:00 am</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
</div>