<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Generales</h4>
            <div class="table-responsive table-striped">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fecha de solicitud</th>
                            <th>Documento</th>
                            <th>Descripción del documento</th>
                            <th>Descargar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let tramite of arrayDeTramites">
                            <td>{{tramite.fechaSolicitud}}</td>
                            <td>{{tramite.nombre}}</td>
                            <td>{{tramite.descripcion}}</td>
                            <td>Archivo.zip</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
