<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Generales</h4>
            <div class="table-responsive table-striped">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Deporte</th>
                            <th>Entrenador</th>
                            <th>Categoria</th>
                            <th>Inicio</th>
                            <th>Lugar</th>
                            <th>Horario</th>
                            <th>Asociación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Fútbol</td>
                            <td>Alan Turing</td>
                            <td>Femenil</td>
                            <td>17/9/2021</td>
                            <td>Campo 4 ESIME Zac</td>
                            <td>14:00 - 16:00</td>
                            <td>Politécnico</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Competencias</h4>
            <div class="table-responsive table-striped">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Deporte</th>
                            <th>Nombre</th>
                            <th>Sede</th>
                            <th>Inicio</th>
                            <th>Término</th>
                            <th>Patrocinador</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Basketball</td>
                            <td>Torneo Danone</td>
                            <td>ESIME Zac</td>
                            <td>10/09/2023</td>
                            <td>10/10/2023</td>
                            <td>Grupo Danone</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>