<div class="row">
    <div class="col-lg">
        <div class="card">
            <div class="card-body">
                <form action="">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group has-success">
                                    <label class="control-label">Solicitud de Trámite</label>
                                    <select class="form-control custom-select">
                                        <option value="">Constancia de estudios</option>
                                        <option value="">Constancia de inscripcion</option>
                                        <option value="">Constancia para becas</option>
                                        <option value="">Boleta global</option>
                                    </select>
                                    <small class="form-control-feedback"> Selecciona el trámite que desea realizar </small> </div>
                            </div>
                            <!--/span-->

                            <h4 class="card-title">Por favor escriba su contraseña de UNISIS para continuar</h4>

                            <div class="col-md-12">
                                <label for="pwd1">Contraseña</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-lock"></i></div>
                                    <input type="password" class="form-control" id="pwd1" placeholder="********">
                                </div>
                            </div>

                            <div class="form-actions">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn btn-success">Solicitar</button>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>