<div class="row">
    <div class="col-lg-4">
        <div class="card-body">
            <h5>Boleta: 1231231231</h5>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card-body">
            <h5>Nombre: Paola Juarez Martinez</h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Horario</h4>
                <div class="table-responsive table-striped">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Grupo</th>
                                <th>Materia</th>
                                <th>1er Parcial</th>
                                <th>2do Parcial</th>
                                <th>3er Parcial</th>
                                <th>Extra</th>
                                <th>Final</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>9CM11</td>
                                <td>Proyectos de Ingenieria</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>---</td>
                                <td>9</td>
                            </tr>

                            <tr>
                                <td>9CM11</td>
                                <td>Proyectos de Ingenieria</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>---</td>
                                <td>9</td>
                            </tr>

                            <tr>
                                <td>9CM11</td>
                                <td>Proyectos de Ingenieria</td>
                                <td>8</td>
                                <td>5</td>
                                <td>4</td>
                                <td>8</td>
                                <td>8</td>
                            </tr>

                            <tr>
                                <td>9CM11</td>
                                <td>Proyectos de Ingenieria</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>---</td>
                                <td>9</td>
                            </tr>

                            <tr>
                                <td>9CM11</td>
                                <td>Proyectos de Ingenieria</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>---</td>
                                <td>9</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
</div>