<div class="row">
    <div class="col-lg-6">
        <div class="card-body">
            <h5>Carrera: Ingeniería en comunicaciones y electronica</h5>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card-body">
            <h5>Plan: 04</h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Solicitar dictamen</h4>
            </div>
            <div class="card-body">
                <h4 class="control-label">Periodo escolar: 20201</h4>
                <form action="#">
                    <div class="form-body"> 
                        <hr>
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    
                                    <label class="control-label">Boleta</label>
                                    <input type="text" id="boleta" disabled class="form-control"
                                        placeholder="2222222222">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre</label>
                                    <input type="text" id="nombre" disabled class="form-control"
                                        placeholder="Paola Juarez Martinez">
                                </div>
                            </div>
                            <!--/span-->

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Fecha de determinacion</label>
                                    <input type="date" id="nombre" class="form-control"
                                        placeholder="8/09/2023">
                                </div>
                            </div>
                            <!--/span-->

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Fecha de solicitud</label>
                                    <input type="date" id="curp" class="form-control"
                                        placeholder="8/09/2023">
                                </div>
                            </div>
                            <!--/span-->

                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">Motivo de dictamen</label>
                                    <select class="form-control custom-select">
                                        <option value="">Cambio de domicilio</option>
                                        <option value="">Enfermedad de los hijos</option>
                                        <option value="">Enfermedad de los padres</option>
                                        <option value="">Enfermedad del alumno</option>
                                        <option value="">Enfermedad del conyuge</option>
                                        <option value="">Gravidez de los hijos</option>
                                        <option value="">Gravidez de los padres</option>
                                        <option value="">Gravidez de un familiar</option>
                                        <option value="">Personal</option>
                                    </select>
                                    <small class="form-control-feedback"> Selecciona el trámite que desea realizar </small> </div>
                            </div>
                            <!--/span-->

                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">Tipo de causa de dictamen</label>
                                    <select class="form-control custom-select">
                                        <option value="">Adeudos de 4 o mas asignaturas</option>
                                        <option value="">Por tener una o mas asignaturas desfasadas </option>
                                        <option value="">Enfermedad de los padres</option>
                                        <option value="">Enfermedad del alumno</option>
                                        <option value="">Enfermedad del conyuge</option>
                                        <option value="">Gravidez de los hijos</option>
                                        <option value="">Gravidez de los padres</option>
                                        <option value="">Gravidez de un familiar</option>
                                        <option value="">Personal</option>
                                    </select>
                                    <small class="form-control-feedback"> Selecciona el trámite que desea realizar </small> </div>
                            </div>
                            <!--/span-->

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Peticion</label>
                                    <input type="text" id="peticion" class="form-control" placeholder="Escriba su peticion aqui">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                    <div class="form-actions">
                        <!-- <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                        <button type="button" class="btn btn-inverse">Cancel</button> -->

                        <button type="submit" class="btn btn-success"> Solicitar dictamen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

